:root{
    --rojoLEC: rgb(240,0,1);
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.bg-red{
    background-color: var(--rojoLEC);
}

.text-red{
    color: var(--rojoLEC);
}



.entrada-hover:hover{
    transition: .2s all ease-in-out;
    background: linear-gradient(130deg, #FFE14D 0%, #E6BF00 100%);
    box-shadow: none;
    color: white;
}

.entrada-titulo:hover{
    color: var(--rojoLEC);
}

.share-buttons{
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
}

.border-red{
    border-color: var(--rojoLEC);
}