{% load static %}

{% block  navbar %}
    <nav class="flex items-center justify-between flex-wrap bg-red p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <a  href="/">
                <img width="50" heigt="50" src="{% static 'images/icon.png' %}"  alt="icon" />
            </a>
        </div>
        
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                Noticias
                </a>
                <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                Campeonatos
                </a>
                <a href="/foro" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    Foro
                </a>
                <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
                Contacto
                </a>
            </div>
            
            {% if user.is_authenticated %}
            <div>
                <span class="font-mono text-lg">{{user.username}}</span>
                <a href="/logout" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Salir</a>
            </div>
            {% else %}
            <div>
                <a onclick="document.getElementById('id01').style.display='block'"class=" cursor-pointer text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Entrar</a>
                <a href="/usuarios/registro" class="text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Registrar</a>
            </div>
            {% endif %}
        </div>
        {% block loginForm %}
            {% include "./loginForm.html" %}
        {% endblock loginForm %}
    </nav>
    
{% endblock navbar %}




